@model CreateUpdateRelationViewModel
    <h1 class="index-page__header text-center">Edit Relation</h1>
    <form asp-controller="Relation" asp-action="Edit" method="post">
        <div class="form-group">
            <div class="d-none">
                <label asp-for="Id"></label>
                <input class="form-control" type="text" value="@Model.Id" asp-for="Id" />
            </div>

            <div class="row justify-content-center">
                <div class="col-sm-4">
                    <label asp-for="Name"></label>
                    <input class="form-control" type="text" value="@Model.Name" asp-for="Name" />
                </div>
                <div class="col-sm-4">
                    <label asp-for="FullName"></label>
                    <input class="form-control" type="text" value="@Model.FullName" asp-for="FullName" />
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-sm-4">
                    <label asp-for="TelephoneNumber"></label>
                    <input class="form-control" type="text" value="@Model.TelephoneNumber" asp-for="TelephoneNumber" />
                </div>
                <div class="col-sm-4">
                    <label asp-for="EmailAddress"></label>
                    <input class="form-control" type="text" value="@Model.EmailAddress" asp-for="EmailAddress" />
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-sm-4">
                    <label asp-for="DefaultCountry"></label>
                    <input class="form-control" type="text" value="@Model.DefaultCountry" asp-for="DefaultCountry" />
                </div>
                <div class="col-sm-4">
                    <label asp-for="DefaultCity"></label>
                    <input class="form-control" type="text" value="@Model.DefaultCity" asp-for="DefaultCity" />
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-sm-4">
                    <label asp-for="DefaultStreet"></label>
                    <input class="form-control" type="text" value="@Model.DefaultStreet" asp-for="DefaultStreet" />
                </div>
                <div class="col-sm-4">
                    <label asp-for="DefaultPostalCode"></label>
                    <input class="form-control" type="text" value="@Model.DefaultPostalCode" asp-for="DefaultPostalCode" />
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-8">
                <button type="submit" class="btn btn-success align-self-end">Edit</button>
            </div>
        </div>
</form>
