@model IEnumerable<Relation>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th><a asp-route-sortfield="Name">Name</a></th>
                <th><a asp-route-sortfield="FullName">FullName</a></th>
                <th><a asp-route-sortfield="TelephoneNumber">TelephoneNumber</a></th>
                <th><a asp-route-sortfield="EmailAddress">EmailAddress</a></th>
                <th><a asp-route-sortfield="DefaultCountry">DefaultCountry</a></th>
                <th><a asp-route-sortfield="DefaultCity">DefaultCity</a></th>
                <th><a asp-route-sortfield="DefaultStreet">DefaultStreet</a></th>
                <th><a asp-route-sortfield="DefaultPostalCode">DefaultPostalCode</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Relation relation in Model)
            {
                <tr>
                    <td>@relation.Name</td>
                    <td>@relation.FullName</td>
                    <td>@relation.TelephoneNumber</td>
                    <td>@relation.EmailAddress</td>
                    <td>@relation.DefaultCountry</td>
                    <td>@relation.DefaultCity</td>
                    <td>@relation.DefaultStreet</td>
                    <td>@relation.DefaultPostalCode</td>
                </tr>
            }
        </tbody>
    </table>


<a asp-action="AddRelation" class="btn btn-primary">Add NEW!!!</a>